doctype html
html(lang="en")
 head
  link(rel="stylesheet" href="stylesheet/bmi.css")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title="BMI Checker"

 body 
 div(class="header")
  div(class="wrapper")
   form(action="/" method="POST")
    h1 BMI calculator
    p Insert Your Age
    input(type="text" name="age")
    p Insert Weight in Kg
    input(type="text" name="weight")
    br
    p Insert Height in cm
    input(type="text" name="height")
    br
    button(name="calc") check
    br
    p(id=result)
   script(type="text/javascript" src="public/script.js")